In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv('toy.csv')
data

   opponent      venue   outlook  toss result
0       kkr  bangalore  overcast  lost    won
1        mi     mumbai     sunny   won    won
2       rcb     mumbai  overcast   won    won
3       kkr  bangalore     sunny  lost    won
4       kkr  bangalore     sunny   won    won
5        mi    chennai     sunny   won   lost
6       rcb    chennai     sunny   won   lost
7       kkr    chennai  overcast   won    won
8        rr  bangalore     sunny  lost    won
9       rcb     mumbai  overcast   won    won
10      kkr    chennai     sunny   won    won
11      rcb  bangalore     sunny   won    won
12       rr    chennai  overcast   won    won
13      kkr    chennai  overcast   won    won
14      kkr  bangalore  overcast   won    won
15      rcb    chennai  overcast   won   lost
16      kkr  bangalore  overcast   won   lost
17       mi  bangalore     sunny   won   lost
18      rcb    chennai     sunny  lost    won
19       mi    chennai  overcast   won   lost
20      kkr  bangalore     sunny  lost    won
21      rcb  bangalore     sunny   won   lost
22       rr  bangalore  overcast   won    won
23      kkr     mumbai     sunny   won   lost
24       rr    chennai  overcast  lost    won

### We need to find P(result | kkr, chennai, overcast, lost)
#### From Naive Bayes' algorithm, we know we have to calculate:
$$
P(kkr | result)*P(chennai | result)*P(overcast | result)*P(lost | result)*P(result)
$$
#### Therefore we shall proceed by calculating the probabilities one by one for this speccific case
##### The result column has two unique values, 'won' and 'lost', and thus this is a binary classification so we shall calculate it twice for each value of result column

In [11]:
print(data['result'].value_counts())
print('\nObservations =',len(data))

won     17
lost     8
Name: result, dtype: int64

Observations = 25

In [25]:
p_result_won=17/25
p_result_lost=8/25

In [14]:
pd.crosstab(data['opponent'],data['result'])

result    lost  won
opponent
kkr          2    8
mi           3    1
rcb          3    4
rr           0    4

In [15]:
p_kkr_won=8/17
p_kkr_lost=2/8

In [16]:
pd.crosstab(data['venue'],data['result'])

result     lost  won
venue
bangalore     3    8
chennai       4    6
mumbai        1    3

In [17]:
p_chennai_won=6/17
p_chennai_lost=4/8

In [18]:
pd.crosstab(data['outlook'],data['result'])

result    lost  won
outlook
overcast     3    9
sunny        5    8

In [19]:
p_overcast_won=9/17
p_overcast_lost=3/8

In [20]:
pd.crosstab(data['toss'],data['result'])

result  lost  won
toss
lost       0    6
won        8   11

In [21]:
p_tosslost_won=6/17
p_tosslost_lost=0/8

In [27]:
p_win_X=p_kkr_won * p_chennai_won * p_overcast_won * p_tosslost_won * p_result_won
p_lose_X=p_kkr_lost * p_chennai_lost * p_overcast_lost * p_tosslost_lost * p_result_lost

In [28]:
print('Proportional probability that team wins=',p_win_X)
print('Proportional probability that team loses=',p_lose_X)

Proportional probability that team wins= 0.02110319560350092
Proportional probability that team loses= 0.0

In [31]:
print('Since proportional probability of team winning is greater than proportinal probability of team losing, therefore we can conclude that under the given conditions of opponent=kkr, venue=chennai, outlook=overcast and toss=lost, the team is MORE PROBABLE to WIN than LOSE')

Since proportional probability of team winning is greater than proportinal probability of team losing, therefore we can conclude that under the given conditions of opponent=kkr, venue=chennai, outlook=overcast and toss=lost, the team is MORE PROBABLE to WIN than LOSE